body,html{
    margin:0px;
    font-family: 'Roboto Slab', serif;
    font-size:1.25vw;
    cursor: default;
    background-color:powderblue;
}

body{
    width:80%;
    padding-left:10%;
    padding-right:10%;
    margin-top: 15%;
}

ul {
    list-style-type: none;
    margin: 0;    
    padding: 0;
    padding-left:10%;
    overflow: hidden;
    background-color: cornflowerblue;
}

h2{font-size:2vw}
h4{font-size:1.75vw}

/*Menu superior*/

.elementomenu {
    display: block;
    background-color: royalblue;
    font-weight: bold;
	font-size: 1.75vw;
    text-align: center;
    color: lightcyan;
    float:left;
    width: 20%;
    border: 1px deepskyblue solid;
    margin:0.5%;
    overflow: hidden;   
}

.elementomenu:hover{
    background-color: midnightblue;
    color:lightcyan;
    border: 1px royalblue solid;
}

#menuSuperior {    
    position:fixed;
    width:100%;
    height: 22.5%;
    top: 0%;
    left: 0%;
    background-color:lightskyblue;
}

#menuDiv{
    width:100%;
    height: 25%;
}

#logo{
    text-align:center;
    width:100%;
    height: 75%;
    padding:1% 0%;
    background-color:lightskyblue;
}

#logoimg{
    height: 100%;
}

.divIndex{
    width:100%;
    color: navy;

}

#ubiDiv{
    display:none;

}
#examDiv{
    display:none;
}

#info{
    text-decoration: underline;
}

.ubiImg{
    width: 30%;
    margin: 0% 5%;
}

#imagenesUbi{
    text-align:center;
    width:100%;
    padding:1% 0%;
}

a{
    text-decoration: none;
    color: navy;
    font-size: 3vw;
    font-weight: bold;
}



a:hover{
    color: darkviolet;
    text-decoration: underline;
}

#link{
 text-align: center;   
}