body,html{
    margin:0px;
    font-family: 'Roboto Slab', serif;
    font-size:4vw;
    cursor: default;
    background-color:powderblue;
}

body{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    position: fixed;
    top: 27.5%;
    
}

p{
    margin: 1.5% 0%;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;    
    padding: 0% 5%;
    overflow: hidden;
    background-color: cornflowerblue;
    text-align: center;
}

h2{
    font-size:5.5vw;
    margin: 5% 0%;
}
h4{
    font-size:5vw;
    margin: 2.5% 0%;
}

/*Menu superior*/

.elementomenu {
    display: inline-block;
    background-color: royalblue;
    font-weight: bold;
	font-size: 5vw;
    text-align: center;
    color: lightcyan;
    width: 40%;
    border: 1px deepskyblue solid;
    padding: 0.5%;
    margin:1% auto;
    overflow: hidden;   
}

.elementomenu:hover{
    background-color: midnightblue;
    color:lightcyan;
    border: 1px royalblue solid;
}

#exam{
    width:80%;
}

#menuSuperior {    
    position:fixed;
    width:100%;
    height: 20%;
    top: 0%;
    left: 0%;
    background-color:lightskyblue;
}

#menuDiv{
    width:100%;
    height: 25%;
}

#logo{
    text-align:center;
    width:100%;
    padding:1% 0%;
    background-color:lightskyblue;
}

#logoimg{
    max-width: 90%;
}

.divIndex{
    width:100%;
    color: navy;
    overflow: auto;
}

#ubiDiv{
    display:none;

}
#examDiv{
    display:none;
}

#info{
    text-decoration: underline;
}

.ubiImg{
    max-width: 70%;
    margin: 1%;
}

#imagenesUbi{
    text-align:center;
    width:100%;
    padding:1% 0%;
}

a{
    text-decoration: none;
    color: navy;
    font-size: 6.5vw;
    font-weight: bold;
}



a:hover{
    color: darkviolet;
    text-decoration: underline;
}

#link{
 text-align: center;   
}
